        body {
            padding: 50px 100px;
            background-color: #02d8d5;
        }

        h1 {
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        #container {
            text-align: center;
            background-color: #f5a6a6;
            padding: 60px;
        }

        .input-div {
            display: inline-block;
        }

        .inp {
            padding: 5px 10px;
            margin: 10px;
            font-size: 30px;
            font-weight: bold;
            width: 250px;
            text-align: center;
        }

        label {
            font-size: 22px;
            color: white;
            font-family: cursive;
        }